# **Crear una tabla de medias  con su desviación estandar**

## Importar y explorar los datos

In [138]:
def import_csv(file):
    # Leé el archivo en DataFrame : df
    import pandas as pd
    return pd.read_csv(file)

>Importar el path o la ubicación del archivo .csv

In [139]:
path = "../Datos/Terminos_lagoon_TA_DIC_2023_RawData.csv"

> Importar el archivo

In [140]:
datos = import_csv(path)

## Explorar la base de datos

In [141]:
print(datos.head())

   sample      date     estuary   area station layer_depth season  \
0  CDL01S  5/3/2020  Candelaria  River   CDL01     Surface    Dry
1  CDL01F  5/3/2020  Candelaria  River   CDL01      Bottom    Dry
2  CDL02S  5/3/2020  Candelaria  River   CDL02     Surface    Dry
3  CDL02F  5/3/2020  Candelaria  River   CDL02      Bottom    Dry
4  CDL03S  5/3/2020  Candelaria  River   CDL03     Surface    Dry

   chlorophy_microg_l  cond_microsiemens_cm  depth_m  ...  do_mg_l  sal_psu  \
0                0.36                7015.4    0.464  ...     7.12     3.56
1                4.19               29886.1    7.792  ...     4.90    16.97
2                0.92               16691.1    0.453  ...     6.99     8.94
3                2.23               24847.4    1.261  ...     6.52    13.87
4                0.58               46341.6    0.465  ...     6.24    28.06

   sp_cond_microsiemens_cm  turbidity_fnu  temp_c  latitude  longitude  \
0                   6547.7           1.47  28.740  18.55736  -91.25012
1                  27751.2          95.33  29.028  18.55722  -91.24990
2                  15429.1           5.50  29.283  18.61007  -91.24410
3                  23074.0          13.44  29.024  18.61005  -91.24403
4                  43670.8           3.60  28.202  18.63166  -91.29359

   dic_micromol_kg  ta_micromol_kg  dummy_data
0             3915            3863      3685.0
1             3698            3685         NaN
2             3724            3708      3708.0
3             3667            3992      3992.0
4             2928            3023      3023.0

[5 rows x 21 columns]

## Agrupar los datos por una columna categórica y calcular la media y la desviación estándar de una columna númerica

> Definimos las columnas a analizar

In [142]:
variables = ['dic_micromol_kg', 'ta_micromol_kg', 'sal_psu']

> Calculamos la media y la desviación estándar agupando por categorias

In [143]:
result = datos.groupby(['season', 'estuary'])[variables].agg(['mean', 'std']).reset_index()

> Renombramos las columnas para mayor claridad

In [144]:
#result.columns = ['_'.join(col).strip() if isinstance(col, tuple) else col for col in result.columns]

In [145]:
#print(result)

#### Crear una tabla con la media ± la desviación estandar

>Asignar nombres adecuados a las columnas

In [146]:
result.columns = ['season', 'estuary'] + [f"{var}_{stat}" for var in variables for stat in ['mean', 'std']]

>Formatear los valores para mostrar la media ± desv. std con 2 cifras significativas

In [147]:
from tabulate import tabulate
for var in variables:
    mean_col = f"{var}_mean"
    std_col = f"{var}_std"
    result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:.2f} ± {row[std_col]:.2f}", axis=1)

> Selecciona solo las columnas formateadas junto con los indices

In [148]:
formatted_result = result[['season', 'estuary'] + [f"{var}_formatted" for var in variables]]

>Mostrar la tabla con los resultados formateados usando tabulate

In [149]:
table = tabulate(formatted_result, headers='keys', tablefmt='pretty', showindex=False)
print(table)

+--------+------------+---------------------------+--------------------------+-------------------+
| season |  estuary   | dic_micromol_kg_formatted | ta_micromol_kg_formatted | sal_psu_formatted |
+--------+------------+---------------------------+--------------------------+-------------------+
|  Dry   | Candelaria |     2917.06 ± 630.59      |     3076.78 ± 556.68     |   23.63 ± 12.12   |
|  Dry   |  Palizada  |     2968.19 ± 391.24      |     3107.89 ± 323.18     |   16.39 ± 13.83   |
| Rainy  | Candelaria |     2474.12 ± 306.41      |     2537.06 ± 192.85     |   15.16 ± 13.94   |
| Rainy  |  Palizada  |     2507.28 ± 216.75      |     2529.33 ± 260.96     |    8.53 ± 9.94    |
+--------+------------+---------------------------+--------------------------+-------------------+

#### Lo pone como notación cientifica por lo que lo vamos a quitar

> en la linea del código donde esta:

>     result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:.2g} ± {row[std_col]:.2g}", axis=1)

> se cambia el *.2g* por *,.2f*

***YA SE CAMBIO ARRIBA***

>     result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:,.2f} ± {row[std_col]:,.2f}", axis=1)

> Resulta que la tabla arroja los resultados de miles separados por una coma, para quitarlo se be de quitar de la linea de arriba la coma *,.2f*

>     result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:.2f} ± {row[std_col]:.2f}", axis=1)