### **Ejercicios:**  
    - Crear una nueva columna llamada "TA_DIC_ratio" que represente la razón entre TA y DIC
    - Calcular la media y la desviación estándar de "TA_DIC_ratio" para cada estación
    - Calcular la media y la desviación estandar de "TA_DIC_ratio" para cada estación y área
    - Guarda los resultdos en un archivo de excel llamado "TA_DIC_Season_Areas.xlsx"

In [31]:
def import_csv(file):
    # Read the file into a DataFrame: df
    import pandas as pd
    return pd.read_csv(file)

In [32]:
# Path to the file to be imported
path = "../../Datos/Terminos_lagoon_TA_DIC_2023_RawData.csv"

# Import the file
CO2Data = import_csv(path)

In [33]:
# Creamos una nueva base de datos (copia)
CO2Data_copy = CO2Data.copy()

## **"ta_dic_ratio"**

### Obtenemos las dos variables del DataFrame

> Realmente esto no es necesario

In [34]:
ta_dic_data = CO2Data_copy[['ta_micromol_kg', 'dic_micromol_kg']]

In [35]:
ta_dic_data

     ta_micromol_kg  dic_micromol_kg
0              3863             3915
1              3685             3698
2              3708             3724
3              3992             3667
4              3023             2928
..              ...              ...
101            2851             2715
102            2837             2638
103            2857             2608
104            2804             2605
105            2780             2542

[106 rows x 2 columns]

### Creamos la nueva columna con operaciones entre columnas

Se crea una columna fija en el DataFrame con la sintaxis: *NombreDelDataFrame["Nombre_De_La_Nueva_Columna]"*

In [36]:
CO2Data_copy["ta_dic_ratio"] = CO2Data_copy["ta_micromol_kg"] / CO2Data_copy["dic_micromol_kg"]

In [37]:
CO2Data_copy["ta_dic_ratio"]

0      0.986718
1      0.996485
2      0.995704
3      1.088628
4      1.032445
         ...
101    1.050092
102    1.075436
103    1.095475
104    1.076392
105    1.093627
Name: ta_dic_ratio, Length: 106, dtype: float64

### Colocamos las 3 columnas en una sola tabla

In [38]:
ta_dic_tadicratio = CO2Data_copy[["ta_micromol_kg", "dic_micromol_kg", "ta_dic_ratio"]]

In [39]:
ta_dic_tadicratio

     ta_micromol_kg  dic_micromol_kg  ta_dic_ratio
0              3863             3915      0.986718
1              3685             3698      0.996485
2              3708             3724      0.995704
3              3992             3667      1.088628
4              3023             2928      1.032445
..              ...              ...           ...
101            2851             2715      1.050092
102            2837             2638      1.075436
103            2857             2608      1.095475
104            2804             2605      1.076392
105            2780             2542      1.093627

[106 rows x 3 columns]

## **Media y desviación estándar de "ta_dic_ratio" para cada estación**

- Se generan las variables

In [40]:
variables = ["ta_dic_ratio"]
result = CO2Data_copy.groupby(['season'])[variables].agg(['mean', 'std']).reset_index()

In [41]:
result.columns = ['season'] + [f"{var}_{stat}" for var in variables for stat in ['mean', 'std']]

In [42]:
from tabulate import tabulate
for var in variables:
    mean_col = f"{var}_mean"
    std_col = f"{var}_std"
    result[f"{var}_formatted"] = result.apply(lambda row: f"{row[mean_col]:.2f} ± {row[std_col]:.2f}", axis=1)

In [43]:
formatted_result = result[['season'] + [f"{var}_formatted" for var in variables]]

In [44]:
table = tabulate(formatted_result, headers='keys', tablefmt='pretty', showindex=False)
print(table)

+--------+------------------------+
| season | ta_dic_ratio_formatted |
+--------+------------------------+
|  Dry   |      1.06 ± 0.09       |
| Rainy  |      1.02 ± 0.10       |
+--------+------------------------+

## **Media y desviación estándar de "ta_dic_ratio" para cada estación y área**

Arriba ya se tiene definida la variable de la columna de la razón

In [45]:
result2 = CO2Data_copy.groupby(['season', 'area'])[variables].agg(['mean', 'std']).reset_index()

In [46]:
result2.columns = ['season', 'area'] + [f"{var}_{stat}" for var in variables for stat in ['mean', 'std']]

In [47]:
from tabulate import tabulate
for var in variables:
    mean_col = f"{var}_mean"
    std_col = f"{var}_std"
    result2[f"{var}_formatted"] = result2.apply(lambda row: f"{row[mean_col]:.2f} ± {row[std_col]:.2f}", axis=1)

In [48]:
formatted_result2 = result2[['season', 'area'] + [f"{var}_formatted" for var in variables]]

In [49]:
table2 = tabulate(formatted_result2, headers='keys', tablefmt='pretty', showindex=False)
print(table2)

+--------+-------+------------------------+
| season | area  | ta_dic_ratio_formatted |
+--------+-------+------------------------+
|  Dry   | Coast |      1.12 ± 0.12       |
|  Dry   | Plume |      1.06 ± 0.04       |
|  Dry   | River |      1.00 ± 0.04       |
| Rainy  | Coast |      1.09 ± 0.13       |
| Rainy  | Plume |      1.03 ± 0.05       |
| Rainy  | River |      0.95 ± 0.03       |
+--------+-------+------------------------+


## **Guardar en un archivo de excel**

In [51]:
formatted_result.to_excel("../../Datos/MeanAndStdToSeason.xlsx", index=False)

formatted_result2.to_excel("../../Datos/MeanAndStdToAreaAndSeason.xlsx", index=False)